<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tnong.boot.system.user.mapper.SysUserRoleMapper">

  <select id="selectRoleIdsByUserId" resultType="java.lang.Long">
    SELECT role_id
    FROM sys_user_role
    WHERE tenant_id = #{tenantId}
      AND user_id = #{userId}
  </select>

  <insert id="insertBatch">
    INSERT INTO sys_user_role (tenant_id, user_id, role_id, delete_flag, created_time, created_user, version)
    VALUES
    <foreach collection="roleIds" item="roleId" separator=",">
      (#{tenantId}, #{userId}, #{roleId}, 0, NOW(), #{createdUser}, 0)
    </foreach>
  </insert>

  <delete id="deleteByUserId">
    DELETE FROM sys_user_role
    WHERE tenant_id = #{tenantId}
      AND user_id = #{userId}
  </delete>

</mapper>
