<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tnong.boot.system.role.mapper.SysRoleMenuMapper">

  <select id="selectMenuIdsByRoleId" resultType="java.lang.Long">
    SELECT menu_id
    FROM sys_role_menu
    WHERE tenant_id = #{tenantId}
  </select>

  <insert id="insertBatch">
    INSERT INTO sys_role_menu (tenant_id, role_id, menu_id, delete_flag, created_time, created_user, version)
    VALUES
    <foreach collection="menuIds" item="menuId" separator=",">
      (#{tenantId}, #{roleId}, #{menuId}, 0, NOW(), #{createdUser}, 0)
    </foreach>
  </insert>

  <delete id="deleteByRoleId">
    DELETE FROM sys_role_menu
    WHERE tenant_id = #{tenantId}
      AND role_id = #{roleId}
  </delete>

</mapper>
